php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on

php_value xdebug.var_display_max_data -1
php_value date.timezone 'Europe/Paris'

RewriteEngine on

RewriteRule ^admin?$ /admin.php [L]
RewriteRule ^([+0-9a-zA-Z-_\/=]+)$ /index.php?path=$1 [L]