<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>MATERIO PRO</title>
</head>

<body bgcolor="#FFFFFF">
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
    <tr>
        <td><table width="700" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" align="center">

            <tr>
                <td align="center">&nbsp;</td>
            </tr>
            <tr>
                <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td colspan="3" align="center" valign="top"><img src="logo-materio.jpg" width="220" height="68" style="display:block" border="0" alt="logo" /></td>
                    </tr>
                    <tr>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="7%"><font style="font-size:5px; line-height:5px">&nbsp;</font></td>
                        <td width="86%" bgcolor="#003576"><font style="font-size:5px; line-height:5px">&nbsp;</font></td>
                        <td width="7%"><font style="font-size:5px; line-height:5px">&nbsp;</font></td>
                    </tr>
                    <tr>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="7%">&nbsp;</td>
                        <td width="86%" align="left" valign="top"><font style="font-family: Verdana, Geneva, sans-serif; color:#010101; font-size:15px; line-height:25px"><strong>Bonjour [@user_firstName@] [@user_Name@],</strong></font><br /><br />
                            <font style="font-family: Verdana, Geneva, sans-serif; color:#666766; font-size:13px; line-height:21px">
                                Suite à votre demande, voici le lien pour réinitialiser votre mot de passe.
                                <br /><br />
                                <a href="[@linkReset@]">Réinitialiser mon mot de passe</a>
                                <br /><br />
								Si vous ne vous êtes pas récemment connecté à [@url_site@] ou si vous pensez qu’une autre personne a eu accès à votre compte, écrivez-nous à l’adresse suivante : <a href="mailto:jea@passerelle.com">contact@materiopro.com</a>.
								<br /><br />
								Votre contact MaterioPro
                            </font></td>
                        <td width="7%">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="7%"><font style="font-size:5px; line-height:5px">&nbsp;</font></td>
                        <td width="86%" bgcolor="#003576"><font style="font-size:5px; line-height:5px">&nbsp;</font></td>
                        <td width="7%"><font style="font-size:5px; line-height:5px">&nbsp;</font></td>
                    </tr>
                    <tr>
                        <td width="7%">&nbsp;</td>
                        <td width="86%" align="center">
                            <font style="font-family: Verdana, Geneva, sans-serif; color:#666766; font-size:10px;">Merci de ne pas répondre directement à cet e-mail. Votre message ne serait pas traité.</font><br/>
							<a href="http://[@url_site@]"><font style="font-family: Verdana, Geneva, sans-serif; color:#003576; font-size:13px; line-height:21px">[@url_site@]</font></a><br/>
							

                        </td>
                        <td width="7%">&nbsp;</td>
                    </tr>
                </table></td>


            <tr>
                <td>&nbsp;</td>
            </tr>
        </table></td>
    </tr>
</table>
</body>
</html>